.home{
  background-image: linear-gradient(rgb(255, 223, 229), rgb(182, 208, 237));
  padding: 100px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  box-shadow: 3px 3px 12px 3px #888888;

}

.header{
  text-align: center;
  background-color: rgb(223, 255, 225);
  box-shadow: 3px 3px 12px 3px #888888;
  padding: 1px;
}

.entryBox{
  border: 2px solid black;
  margin: 5px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 5px;
}